.page__title
  h1 Управление покупками
.page__cpanel
  a.add__page(ui-sref='payments.new')
    span +
    | Новый платеж
  a.btn.btn-gray.btn-import(ng-click="exportFromAdmitad()")
    span.glyphicon.glyphicon-download(style='padding-right:5px')
    | Синхронизировать
  img.promo-load-img(ng-if="isProcessing" src="/landing//img/load.gif")
  span(ng-if="isLoaded" style="color: #3a9c3f;")   Данные успешно обновлены

.page__content
  .form-group
    label Поиск
    input.form-control(ng-model='globalFilter.code' ng-change='updateFilter()')
  .form-group
    .period-form.form-inline
      .input-group
        label Период c
        .input-group
          input.form-control(type='text' ng-model='periodFrom' disabled
          ng-change='refreshList()'
            datepicker-options='dateOptions'
            datepicker-popup='{{dateOptions.format}}' is-open="fromOpen" close-text='Закрыть')
          .input-group-btn
            button.btn.btn-default(type='button' ng-click='toggleFrom($event)')
              i.glyphicon.glyphicon-calendar
      .input-group
        label по
        .input-group
          input.form-control(type='text' ng-model='periodTo' disabled
          ng-change='refreshList()'
            datepicker-options='dateOptions'
            datepicker-popup='{{dateOptions.format}}' is-open="toOpen" close-text="Закрыть")
          .input-group-btn
            button.btn.btn-default(type='button' ng-click='toggleTo($event)')
              i.glyphicon.glyphicon-calendar

  div
    table.table__build.form-table.width-max(ng-table='tableParams' export-csv='csv')
      tr(ng-repeat='order in $data')
        td.name-order(data-title="'Покупатель'" )
          a(ui-sref='customersShow({customerId: order.user[0]._id})') {{::order.user[0].login}}
        td.name-order(data-title="'Номер'" )
          | {{::order.order_id}}
         td.name-order(data-title="'Название магазина'" )
          | {{::order.shop[0].name}}
        td(data-title="'Сумма'")
          | {{::order.cart | curr}} {{::order.currency}}
          br
          span(ng-if="order.convertCart") {{::order.convertCart | curr}} {{::order.convertCurrency}}
        td(data-title="'Прибыль'")
          | {{::order.profit | curr}} {{::order.currency}}
        td(data-title="'Кэшбэк пользователю'")
          | {{::order.payment | curr}} {{::order.currency}}
          br
          span(ng-if="order.convertCart") {{::order.convertPayment | curr}} {{::order.convertCurrency}}
        td(data-title="'Дата заказа'")
          | {{::order.order_date | date:'dd.MM.yyyy H:mm'}}
        td(data-title="'Статус'")
          | {{statuses[order.status]}}