.page__content
  form(novalidate ng-submit='createProduct()' name='productForm')
    .row
        .newProduct-description.col-md-8
            .form-group
                label Наименование
                input.form-control(type='text' name='title'
                    ng-model='newProduct.title' required
                    ng-model-options='modelOptions')
            .form-group
                label Описание
                textarea.form-control(
                    name='body' ng-model='newProduct.body'
                    ng-model-options='modelOptions')
            .form-group
                label Ссылка
                input.form-control(type='text' ng-model='newProduct.slug')
            .form-group
                label Категории
                ui-select(multiple ng-model="newProduct.categoriesTitles" theme='bootstrap'
                    on-select='addCategory($item)' on-remove='removeCategory($item)')
                    ui-select-match(placeholder="Выберите категорию...") {{$item.title}}
                    ui-select-choices(repeat="category.title as category in categories | filter: {title: $select.search}")
                        div
                         div(ng-style='nestedStyle(category)') {{category.title}}

            .form-group
                .checkbox
                  input(type='checkbox', id='c1' hidden ng-model='newProduct.hasPromo')
                  label(for='c1') с промо-кодом
                .checkbox
                  input(type='checkbox', id='c3' hidden ng-model='newProduct.hasDelivery')
                  label(for='c3') товар требует доставки
                .checkbox
                  input(type='checkbox', id='c2' hidden ng-model='newProduct.forFreedom')
                  label(for='c2') дает доступ к freedom-koop.com

        .col-md-4
            .newProduct-commerce
                .form-group
                  label Цена
                  input.form-control(type='text' ng-model='newProduct.price')
                .form-group
                  label Валюта
                  input.form-control(type='text' ng-model='newProduct.currency')
                .form-group
                  label Артикул
                  input.form-control(type='text' name='sku' ng-model='newProduct.sku')
                .form-group
                  label Производитель
                  input.form-control(type='text' ng-model='newProduct.manufact')
                .checkbox
                  label
                    input(type='checkbox' ng-model='newProduct.starred')
                    span Новинка
                .checkbox
                  label
                    input(type='checkbox' ng-model='newProduct.popular')
                    span Популярный

            .product-preorder
              .form-group
                label Цена предзаказа
                input.form-control(type='text' ng-model='product.preprice')
              .form-group
                label Когда товар будет доступен
                .input-group
                  input.form-control(type='text' datepicker-popup='dd/MM/yyyy'
                    ng-model='product.avalibleAt' min-date='dateNow' is-open='datepickerOpened')
                  .input-group-btn
                    button.btn.btn-default(type='button' ng-click='toggleDatepicker($event)')
                      i.glyphicon.glyphicon-calendar

            .newProduct-storage
                .form-group
                    label Остаток на складе
                    input.form-control(type='text' ng-model='newProduct.store')
                .form-group
                    label Единица
                    input.form-control(type='text' ng-model='newProduct.unit')
                .form-group
                    label Масса
                    input.form-control(type='text' ng-model='newProduct.weight')
                .form-group
                    label Объем
                    input.form-control(type='text' ng-model='newProduct.volume')


        .col-md-12.newProduct-rest
            .checkbox
                label
                    input(type='checkbox' ng-model='newProduct.visible')
                    span видимость на сайте
            .form-group
                label Заголовок для SEO
                input.form-control(type='text' ng-model='newProduct.seotitle'
                    ng-model-options='modelOptions')
            .form-group
                label Ключевые слова
                input.form-control(type='text' ng-model='newProduct.seokeywords'
                    ng-model-options='modelOptions')
            .form-group
                label Описание SEO
                input.form-control(type='text' ng-model='newProduct.seodescr'
                    ng-model-options='modelOptions')
            .form-group.btn-clear
                label Прикрепить форму
                .input-group
                    span.input-group-btn
                        button.btn.btn-default(ng-click='newProduct.form=null'
                        type='button') Очистить
                    select.form-control.select(ng-model='newProduct.form'
                        ng-options='form._id as form.name for form in forms')
            .form-group
                input.btn.btn-green(type='submit' value='Добавить'
                    ng-disabled='productForm.$invalid')
